.small {
  background-color: #0ec3a3;
  border-radius: 4px;
  width: 150px;
  height: 43px;
  padding: 12px 24px;
  color: white;
  border: none;
  gap: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  i {
    font-size: 10px;
  }

  span {
    font-weight: 500;
    font-size: 15px;
  }
  &:hover {
    filter: brightness(0.9);
  }
}

.big {
  width: 436px;
  height: 43px;
  padding: 12px 16px;
  border-radius: 4px;
  margin: 12px 0px;
  color: white;
  background-color: #0ec3a3;
  border: none;
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  &:hover {
    filter: brightness(0.9);
  }
}
