.all-banks {
  width: 100%;
  // margin-right: 64px;
  .allbanks-header {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .banks-count {
      display: flex;
      align-items: baseline;
      gap: 8px;

      h1 {
        color: #474f63;
        line-height: 0;
      }
      small {
        color: #b3b9c9;
        line-height: 0;
      }
    }
  }
  .bank-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 14px;
  }
}

@media (max-width: 1100px) {
  .all-banks {
    width: 95vw;
    margin-right: 0px;

    .bank-card-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media (max-width: 850px) {
  .all-banks {
    .bank-card-container {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 650px) {
  .all-banks {
    width: 90vw;
    .allbanks-header {
      flex-direction: column;
      // justify-content: ;
      align-items: flex-start;
      // background-color: red;

      .big-input,
      .medium-input {
        width: 83vw;
      }
    }
    .bank-card-container {
      grid-template-columns: 1fr;
    }
  }
}
